.inline {
  display: flex;
  flex-direction: row;
  gap: 2px;
  input {
    flex: 1;
  }
}

.incolumn {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.error {
  color: red;
}

.victory {
  color: green;
}
